################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crs.Home.ApocalypsData/obj
/Crs.Home.ApocalypsApp/obj
/Crs.Home.ApocalypsApp/.vs/Crs.Home.Apocalyps
/.vs
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/.vs/Crs.Home.Apocalyps
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/obj/Debug/net8.0-windows
/Crs.Home.Apocalyps/Crs.Home.ApocalypsData/obj
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/bin/Debug/net8.0-windows
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/obj
/Crs.Home.Apocalyps/Crs.Home.ApocalypsData/bin/Debug/net8.0
/Crs.Home.Apocalyps/Crs.Home.ApocalypsData/bin/Debug/net6.0-windows
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/bin/Debug/net6.0-windows7.0
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/.vs/ProjectEvaluation/crs.home.apocalyps.metadata.v9.bin
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/.vs/ProjectEvaluation/crs.home.apocalyps.projects.v9.bin
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/.vs/ProjectEvaluation/crs.home.apocalyps.strings.v9.bin
/Crs.Home.Apocalyps/Crs.Home.ApocalypsDB/DB_LOTTO_APOCALYPS.mdf
/Crs.Home.Apocalyps/Crs.Home.ApocalypsDB/DB_LOTTO_APOCALYPS_log.ldf
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/bin/Release/net6.0-windows7.0
/Crs.Home.Apocalyps/Crs.Home.ApocalypsData/bin/Release/net6.0-windows
/Crs.Home.Apocalyps/Crs.Home.ApocalypsApp/bin/Debug/net8.0-windows7.0
/Crs.Home.Apocalyps/Crs.Home.ApocalypsData/bin/Debug/net8.0-windows7.0
