################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crs.Home.ApocalypsData/obj
/Crs.Home.ApocalypsApp/obj
/Crs.Home.ApocalypsApp/.vs/Crs.Home.Apocalyps
/.vs
