-- Script Date: 31/01/2024 23:34  - ErikEJ.SqlCeScripting version 3.5.2.95
-- Database information:
-- Locale Identifier: 1040
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: C:\Users\acris\AppData\Local\MyBlackBoxCore\DB\DBMbbCore.sdf
-- ServerVersion: 4.0.8876.1
-- DatabaseSize: 3,688 MB
-- SpaceAvailable: 3,996 GB
-- Created: 14/04/2020 15:49

-- User Table information:
-- Number of tables: 11
-- __ExtendedProperties: -1 row(s)
-- activity: 25 row(s)
-- activity_log: 475 row(s)
-- activity_note: 15 row(s)
-- note: 6164 row(s)
-- note_doc: 622 row(s)
-- note_key: 0 row(s)
-- note_sharing: -1 row(s)
-- parameter: 3 row(s)
-- user_group: 7 row(s)
-- userapp: 4 row(s)

CREATE TABLE [userapp] (
  [ID] int NOT NULL
, [Name] nvarchar(255) NULL
, [Language] nvarchar(20) NULL
, [IDProfile] int NULL
, [Password] nvarchar(20) NULL
, [OldPassword] nvarchar(20) NULL
, [RegistryName] nvarchar(100) NULL
, [RegistrySurname] nvarchar(100) NULL
, [RegistryAddress] nvarchar(255) NULL
, [WorkGroup] nvarchar(100) NULL
, [DateRegistration] datetime NULL
, [ImagePath] nvarchar(100) NULL
, [Status] nvarchar(100) NULL
, [Level] int NULL
, [RateHour] numeric(18,0) NULL
, [AuditUser] nvarchar(100) NULL
, [AuditDateTime] datetime NULL
);
GO
CREATE TABLE [user_group] (
  [IDUser] int NULL
, [GroupName] nvarchar(100) NOT NULL
, [UserName] nvarchar(100) NOT NULL
);
GO
CREATE TABLE [parameter] (
  [GroupParam] nvarchar(40) NOT NULL
, [Name] nvarchar(40) NOT NULL
, [Description] nvarchar(120) NULL
, [Val1] nvarchar(40) NULL
, [Val2] nvarchar(40) NULL
, [SpecialHandling] int NULL
, [TypeVal] int NULL
, [Active] bit NULL
, [AuditUser] nvarchar(64) NULL
, [AuditDateTime] datetime NULL
);
GO
CREATE TABLE [note_sharing] (
  [IDNote] bigint NOT NULL
, [IDUserSharing] int NULL
, [IDUser] int NOT NULL
, [IsToRead] bit DEFAULT (1) NULL
, [UserNameSharing] nvarchar(64) NOT NULL
);
GO
CREATE TABLE [note_key] (
  [IDNote] bigint NOT NULL
, [IDUser] int NOT NULL
, [Name] nvarchar(255) NULL
, [Level] int NULL
);
GO
CREATE TABLE [note_doc] (
  [IDNote] bigint NOT NULL
, [IDUser] int NOT NULL
, [DocName] nvarchar(255) NOT NULL
, [Version] int NULL
, [DateTimeLastMod] datetime NULL
, [InternalDirRemote] nvarchar(255) NULL
, [FileNameLocal] nvarchar(255) NULL
, [ToSyncronize] bit NULL
);
GO
CREATE TABLE [note] (
  [ID] bigint NOT NULL
, [IDUser] int NOT NULL
, [Text] nvarchar(3000) NULL
, [DateTimeInserted] datetime NULL
, [DateTimeLastMod] datetime NULL
, [Rate] int NULL
, [IsPrivate] bit NULL
, [AuditUser] nvarchar(100) NULL
, [AuditDateTime] datetime NULL
, [IDNoteParent] bigint NULL
, [UserNameParent] nvarchar(64) NULL
, [Title] nvarchar(128) NULL
, [IsFavorite] bit NULL
);
GO
CREATE TABLE [activity_note] (
  [IDActivity] bigint NOT NULL
, [IDNote] bigint NOT NULL
);
GO
CREATE TABLE [activity_log] (
  [IDActivity] bigint NOT NULL
, [StartActivityLog] datetime NOT NULL
, [StopActivityLog] datetime NULL
, [LogActivity] nvarchar(2048) NULL
);
GO
CREATE TABLE [activity] (
  [IDActivity] bigint NOT NULL
, [StartActivity] datetime NULL
, [StopActivity] datetime NULL
, [TotMinPreview] int DEFAULT ((((0)))) NOT NULL
, [TitleActivity] nvarchar(512) NULL
, [TextActivity] nvarchar(2048) NULL
, [IDUser] int NULL
, [Status] nvarchar(64) NULL
, [TypeActivity] nvarchar(128) NULL
, [DateTimeInserted] datetime NULL
, [DateTimeLastMod] datetime NULL
);
GO
CREATE TABLE [__ExtendedProperties] (
  [Id] int IDENTITY (1,1) NOT NULL
, [Type] int DEFAULT (0) NOT NULL
, [ParentName] nvarchar(128) NULL
, [ObjectName] nvarchar(128) NULL
, [Value] nvarchar(4000) NOT NULL
);
GO
ALTER TABLE [userapp] ADD CONSTRAINT [PK__userapp__0000000000000162] PRIMARY KEY ([ID]);
GO
ALTER TABLE [user_group] ADD CONSTRAINT [PK_user_group] PRIMARY KEY ([GroupName],[UserName]);
GO
ALTER TABLE [parameter] ADD CONSTRAINT [PK_parameter] PRIMARY KEY ([GroupParam],[Name]);
GO
ALTER TABLE [note_key] ADD CONSTRAINT [PK__note_key__00000000000000F5] PRIMARY KEY ([IDNote],[IDUser]);
GO
ALTER TABLE [note_doc] ADD CONSTRAINT [PK__note_doc__00000000000000DF] PRIMARY KEY ([IDNote],[IDUser],[DocName]);
GO
ALTER TABLE [note] ADD CONSTRAINT [PK__note__0000000000000223] PRIMARY KEY ([ID],[IDUser]);
GO
ALTER TABLE [activity_note] ADD CONSTRAINT [PK_activity_note] PRIMARY KEY ([IDActivity],[IDNote]);
GO
ALTER TABLE [activity_log] ADD CONSTRAINT [PK_activity] PRIMARY KEY ([IDActivity],[StartActivityLog]);
GO
ALTER TABLE [activity] ADD CONSTRAINT [PK_activity1] PRIMARY KEY ([IDActivity]);
GO
CREATE INDEX [name] ON [userapp] ([Name] ASC);
GO
CREATE INDEX [group_iduser] ON [user_group] ([IDUser] ASC,[GroupName] ASC);
GO
CREATE INDEX [name] ON [note_key] ([Name] ASC);
GO
CREATE INDEX [nameLevel] ON [note_key] ([Name] ASC,[Level] ASC);
GO
CREATE INDEX [idx_docname] ON [note_doc] ([DocName] ASC);
GO
CREATE INDEX [idx_datetmelastmod] ON [note] ([DateTimeLastMod] ASC);
GO
CREATE INDEX [IDX_IDNOTEPARENT] ON [note] ([IDNoteParent] ASC);
GO
CREATE INDEX [title] ON [note] ([Title] ASC);
GO
CREATE INDEX [__ExtendedProperties_ObjectName_ParentName] ON [__ExtendedProperties] ([ObjectName] ASC,[ParentName] ASC);
GO