-- SQL Manager Lite for SQL Server 3.8.0.5
-- ---------------------------------------
-- Host      : localhost\SQLEXPRESS2012
-- Database  : configurator
-- Version   : Microsoft SQL Server  11.0.2100.60


CREATE DATABASE [configurator]
ON PRIMARY
  ( NAME = [configurator],
    FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\configurator.mdf',
    SIZE = 3136 KB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 1 MB )
LOG ON
  ( NAME = [configurator_log],
    FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\configurator_log.ldf',
    SIZE = 832 KB,
    MAXSIZE = 2097152 MB,
    FILEGROWTH = 10 % )
COLLATE SQL_Latin1_General_CP1_CI_AS
GO

USE [configurator]
GO

--
-- Definition for schema m2ss : 
--

CREATE SCHEMA [m2ss]
  AUTHORIZATION [dbo]
GO

--
-- Definition for table form : 
--

CREATE TABLE [dbo].[form] (
  [ID] int NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [IDParent] int DEFAULT NULL NULL,
  [Description] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [IDMenuDefault] int DEFAULT NULL NULL,
  [ShortDescription] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [IconName] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [ImagePreviewName] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table menu : 
--

CREATE TABLE [dbo].[menu] (
  [ID] int NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Description] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [IDParent] int DEFAULT NULL NULL,
  [ShortDescription] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [TypeMenu] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT N'Default' NULL,
  [IconName] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table parameter : 
--

CREATE TABLE [dbo].[parameter] (
  [GroupParam] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Description] varchar(80) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Val1] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Val2] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [SpecialHandling] int DEFAULT NULL NULL,
  [TypeVal] int DEFAULT NULL NULL,
  [Active] smallint DEFAULT 1 NULL
)
ON [PRIMARY]
GO

--
-- Definition for table profile : 
--

CREATE TABLE [dbo].[profile] (
  [ID] int NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Type] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Description] varchar(80) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table project : 
--

CREATE TABLE [dbo].[project] (
  [ID] int NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Description] varchar(80) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [IsDefault] smallint DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table project_menu : 
--

CREATE TABLE [dbo].[project_menu] (
  [IDProject] int NOT NULL,
  [IDMenu] int NOT NULL,
  [IDForm] int NOT NULL,
  [IsStartMenuForm] smallint DEFAULT 0 NULL,
  [IDParent] int DEFAULT 0 NULL,
  [Sequence] int DEFAULT 0 NULL,
  [IsFastMenuForm] smallint DEFAULT 0 NULL
)
ON [PRIMARY]
GO

--
-- Definition for table project_profile : 
--

CREATE TABLE [dbo].[project_profile] (
  [IDProject] int NOT NULL,
  [IDProfile] int NOT NULL,
  [IDForm] int NOT NULL,
  [FunctionIns] smallint DEFAULT NULL NULL,
  [FunctionUpd] smallint DEFAULT NULL NULL,
  [FunctionDel] smallint DEFAULT NULL NULL,
  [FunctionView] smallint DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table test : 
--

CREATE TABLE [dbo].[test] (
  [id] int NOT NULL,
  [text1] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [text2] varchar(80) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [integer1] int DEFAULT NULL NULL,
  [double1] numeric(15, 3) DEFAULT NULL NULL,
  [datetime1] datetime2(0) DEFAULT NULL NULL,
  [float1] numeric(9, 3) DEFAULT NULL NULL,
  [code] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table usercfg : 
--

CREATE TABLE [dbo].[usercfg] (
  [ID] int NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Password] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Data for table dbo.form  (LIMIT 0,500)
--

INSERT INTO [dbo].[form] ([ID], [Name], [IDParent], [Description], [IDMenuDefault], [ShortDescription], [IconName], [ImagePreviewName])
VALUES 
  (4, N'ControlPanel', NULL, N'', 7, N'Control Panel', N'Be Magnify.ico', NULL)
GO

INSERT INTO [dbo].[form] ([ID], [Name], [IDParent], [Description], [IDMenuDefault], [ShortDescription], [IconName], [ImagePreviewName])
VALUES 
  (5, N'PageUsers', 0, N'Page for user management', 7, N'Users', N'worker.ico', N'PageDefault.png')
GO

INSERT INTO [dbo].[form] ([ID], [Name], [IDParent], [Description], [IDMenuDefault], [ShortDescription], [IconName], [ImagePreviewName])
VALUES 
  (6, N'PageProfiles', 0, N'', 7, N'Profiles', N'Copland Documents.ico', N'PageDefault.png')
GO











--
-- Data for table dbo.menu  (LIMIT 0,500)
--

INSERT INTO [dbo].[menu] ([ID], [Name], [Description], [IDParent], [ShortDescription], [TypeMenu], [IconName])
VALUES 
  (1, N'Root1', N'TEST desc', NULL, N'Root id 1', N'default', NULL)
GO

INSERT INTO [dbo].[menu] ([ID], [Name], [Description], [IDParent], [ShortDescription], [TypeMenu], [IconName])
VALUES 
  (2, N'Node2Parent1', N'test2 desc', 1, N'Node2 Parent1', N'default', NULL)
GO

INSERT INTO [dbo].[menu] ([ID], [Name], [Description], [IDParent], [ShortDescription], [TypeMenu], [IconName])
VALUES 
  (3, N'Node3Parent1', NULL, 1, N'Node3 Parent1', N'default', NULL)
GO













--
-- Data for table dbo.parameter  (LIMIT 0,500)
--

INSERT INTO [dbo].[parameter] ([GroupParam], [Name], [Description], [Val1], [Val2], [SpecialHandling], [TypeVal], [Active])
VALUES 
  (N'menutype', N'default', N'Menu valido per la maggior parte delle applicazioni', NULL, NULL, NULL, NULL, 1)
GO

INSERT INTO [dbo].[parameter] ([GroupParam], [Name], [Description], [Val1], [Val2], [SpecialHandling], [TypeVal], [Active])
VALUES 
  (N'menutype', N'Standard', N'', N'', N'', NULL, 0, 1)
GO

INSERT INTO [dbo].[parameter] ([GroupParam], [Name], [Description], [Val1], [Val2], [SpecialHandling], [TypeVal], [Active])
VALUES 
  (N'menutype', N'Wizard', N'', N'', N'', NULL, 0, 1)
GO






--
-- Data for table dbo.profile  (LIMIT 0,500)
--

INSERT INTO [dbo].[profile] ([ID], [Name], [Type], [Description])
VALUES 
  (1, N'ADMIN', NULL, N'Administrator')
GO

INSERT INTO [dbo].[profile] ([ID], [Name], [Type], [Description])
VALUES 
  (2, N'OPERATOR', NULL, N'Opertor')
GO

INSERT INTO [dbo].[profile] ([ID], [Name], [Type], [Description])
VALUES 
  (3, N'GUEST', N'tester', N'Guest')
GO





--
-- Data for table dbo.project  (LIMIT 0,500)
--

INSERT INTO [dbo].[project] ([ID], [Name], [Description], [IsDefault])
VALUES 
  (1, N'ControlPanel', N'Pannello di controllo', 0)
GO

INSERT INTO [dbo].[project] ([ID], [Name], [Description], [IsDefault])
VALUES 
  (6, N'OfficeManagement', N'Office Activity Management', 1)
GO

--
-- Data for table dbo.project_menu  (LIMIT 0,500)
--

INSERT INTO [dbo].[project_menu] ([IDProject], [IDMenu], [IDForm], [IsStartMenuForm], [IDParent], [Sequence], [IsFastMenuForm])
VALUES 
  (6, 7, 5, 0, 0, 2, 0)
GO

INSERT INTO [dbo].[project_menu] ([IDProject], [IDMenu], [IDForm], [IsStartMenuForm], [IDParent], [Sequence], [IsFastMenuForm])
VALUES 
  (6, 7, 6, 0, 0, 3, 0)
GO

INSERT INTO [dbo].[project_menu] ([IDProject], [IDMenu], [IDForm], [IsStartMenuForm], [IDParent], [Sequence], [IsFastMenuForm])
VALUES 
  (6, 7, 14, 0, 0, 1, 0)
GO




























--
-- Data for table dbo.project_profile  (LIMIT 0,500)
--

INSERT INTO [dbo].[project_profile] ([IDProject], [IDProfile], [IDForm], [FunctionIns], [FunctionUpd], [FunctionDel], [FunctionView])
VALUES 
  (6, 1, 4, 1, 1, 1, 1)
GO

INSERT INTO [dbo].[project_profile] ([IDProject], [IDProfile], [IDForm], [FunctionIns], [FunctionUpd], [FunctionDel], [FunctionView])
VALUES 
  (6, 1, 5, 1, 1, 1, 1)
GO

INSERT INTO [dbo].[project_profile] ([IDProject], [IDProfile], [IDForm], [FunctionIns], [FunctionUpd], [FunctionDel], [FunctionView])
VALUES 
  (6, 1, 6, 1, 1, 1, 1)
GO



















































































--
-- Data for table dbo.test  (LIMIT 0,500)
--

INSERT INTO [dbo].[test] ([id], [text1], [text2], [integer1], [double1], [datetime1], [float1], [code])
VALUES 
  (1, N'testo 1', N'testo 2', 11, 1.234, N'2013-01-01 00:00:00', 1.235, N'code1')
GO

--
-- Data for table dbo.usercfg  (LIMIT 0,500)
--

INSERT INTO [dbo].[usercfg] ([ID], [Name], [Password])
VALUES 
  (0, N'Root', N'root')
GO

--
-- Definition for indices : 
--

ALTER TABLE [dbo].[form]
ADD CONSTRAINT [form$Name] 
UNIQUE NONCLUSTERED ([Name])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[form]
ADD CONSTRAINT [PK_form_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[menu]
ADD CONSTRAINT [PK_menu_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[parameter]
ADD CONSTRAINT [PK_parameter_GroupParam] 
PRIMARY KEY CLUSTERED ([GroupParam], [Name])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[profile]
ADD CONSTRAINT [PK_profile_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[profile]
ADD CONSTRAINT [profile$Name] 
UNIQUE NONCLUSTERED ([Name])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[project]
ADD CONSTRAINT [PK_project_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[project]
ADD CONSTRAINT [project$Name] 
UNIQUE NONCLUSTERED ([Name])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[project_menu]
ADD CONSTRAINT [PK_project_menu_IDProject] 
PRIMARY KEY CLUSTERED ([IDProject], [IDMenu], [IDForm])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[project_profile]
ADD CONSTRAINT [PK_project_profile_IDProject] 
PRIMARY KEY CLUSTERED ([IDProject], [IDProfile], [IDForm])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[test]
ADD CONSTRAINT [PK_test_id] 
PRIMARY KEY CLUSTERED ([id], [code])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[usercfg]
ADD CONSTRAINT [PK_usercfg_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

