-- SQL Manager Lite for SQL Server 3.8.0.5
-- ---------------------------------------
-- Host      : LOCALHOST\SQLEXPRESS
-- Database  : monitoractivity
-- Version   : Microsoft SQL Server  10.0.2531.0


CREATE DATABASE [monitoractivity]
ON PRIMARY
  ( NAME = [monitoractivity],
    FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\monitoractivity.mdf',
    SIZE = 2304 KB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 1 MB )
LOG ON
  ( NAME = [monitoractivity_log],
    FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\monitoractivity_log.LDF',
    SIZE = 1536 KB,
    MAXSIZE = 2097152 MB,
    FILEGROWTH = 10 % )
COLLATE SQL_Latin1_General_CP1_CI_AS
GO

USE [monitoractivity]
GO

--
-- Definition for schema m2ss : 
--

CREATE SCHEMA [m2ss]
  AUTHORIZATION [dbo]
GO

--
-- Definition for user-defined data type boolean : 
--

CREATE TYPE [dbo].[boolean] AS TABLE (
  [bool] tinyint NULL
)
GO

--
-- Definition for table job : 
--

CREATE TABLE [dbo].[job] (
  [ID] int NOT NULL,
  [Code] varchar(30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Sequence] int DEFAULT 0 NOT NULL,
  [Description] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [TimeHoursPlanned] int DEFAULT NULL NULL,
  [TimeHoursElapsed] int DEFAULT NULL NULL,
  [Status] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [DocPath] varchar(60) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [DateStart] datetime2(0) DEFAULT NULL NULL,
  [DateEnd] datetime2(0) DEFAULT NULL NULL,
  [PlannedDateStart] datetime2(0) DEFAULT NULL NULL,
  [Type] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [UserGroupVisibility] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [IDUserOwner] int DEFAULT NULL NULL,
  [RateHour] numeric(9, 3) DEFAULT NULL NULL,
  [AuditUser] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [AuditDateTime] datetime2(0) DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table job_user : 
--

CREATE TABLE [dbo].[job_user] (
  [IDJob] int NOT NULL,
  [IDUser] int NOT NULL,
  [TimeHoursPlanned] int DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table log : 
--

CREATE TABLE [dbo].[log] (
  [ID] bigint NOT NULL,
  [IDUser] int DEFAULT NULL NULL,
  [IDApplication] int DEFAULT NULL NULL,
  [Event] varchar(80) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [DateTimeInput] datetime2(0) DEFAULT NULL NULL,
  [Workstation] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [TypeLog] int DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table note : 
--

CREATE TABLE [dbo].[note] (
  [ID] int NOT NULL,
  [Title] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Text] varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [DateTimeInserted] datetime2(0) DEFAULT NULL NULL,
  [IDUser] int DEFAULT NULL NULL,
  [JobCode] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [PhaseNo] int DEFAULT NULL NULL,
  [Image] varchar(60) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [IsPrivate] bit DEFAULT NULL NULL,
  [UserLockedBy] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [AuditUser] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [AuditDateTime] datetime2(0) DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table note_doc : 
--

CREATE TABLE [dbo].[note_doc] (
  [IDNote] int NOT NULL,
  [Document] varchar(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table note_key : 
--

CREATE TABLE [dbo].[note_key] (
  [IDNote] int NOT NULL,
  [Name] varchar(80) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Level] int DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table parameter : 
--

CREATE TABLE [dbo].[parameter] (
  [GroupParam] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Description] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Val1] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Val2] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [SpecialHandling] int DEFAULT NULL NULL,
  [TypeVal] int DEFAULT NULL NULL,
  [Active] bit DEFAULT 1 NULL,
  [AuditUser] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [AuditDateTime] datetime2(0) DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table parameter_profile : 
--

CREATE TABLE [dbo].[parameter_profile] (
  [IDProfile] int NOT NULL,
  [GroupParam] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Description] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Val1] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Val2] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [SpecialHandling] int DEFAULT NULL NULL,
  [TypeVal] int DEFAULT NULL NULL,
  [Active] bit DEFAULT 1 NULL
)
ON [PRIMARY]
GO

--
-- Definition for table parameter_user : 
--

CREATE TABLE [dbo].[parameter_user] (
  [IDUser] int NOT NULL,
  [GroupParam] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Description] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Val1] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Val2] varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [SpecialHandling] int DEFAULT NULL NULL,
  [TypeVal] int DEFAULT NULL NULL,
  [Active] bit DEFAULT 1 NULL
)
ON [PRIMARY]
GO

--
-- Definition for table phase : 
--

CREATE TABLE [dbo].[phase] (
  [IDJob] int NOT NULL,
  [PhaseNo] int NOT NULL,
  [Sequence] int DEFAULT 0 NOT NULL,
  [SequenceAbs] int DEFAULT 0 NOT NULL,
  [Description] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [TimeHoursPlanned] int DEFAULT NULL NULL,
  [TimeHoursElapsed] int DEFAULT NULL NULL,
  [Status] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [DateStart] datetime2(0) DEFAULT NULL NULL,
  [DateEnd] datetime2(0) DEFAULT NULL NULL,
  [DocHistoryPath] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [DocSpecificationsPath] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [IDUserOwner] int DEFAULT NULL NULL,
  [AuditUser] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [AuditDateTime] datetime2(0) DEFAULT NULL NULL
)
ON [PRIMARY]
GO

EXEC sp_addextendedproperty 'MS_Description', N'Sequenza all''interno del job', N'schema', N'dbo', N'table', N'phase', N'column', N'Sequence'
GO

EXEC sp_addextendedproperty 'MS_Description', N'Sequenza assoluta riferita a tutti i job', N'schema', N'dbo', N'table', N'phase', N'column', N'SequenceAbs'
GO

--
-- Definition for table phase_user : 
--

CREATE TABLE [dbo].[phase_user] (
  [IDJob] int NOT NULL,
  [PhaseNo] int NOT NULL,
  [IDUser] int NOT NULL,
  [TimeHoursPlanned] int DEFAULT 0 NULL
)
ON [PRIMARY]
GO

--
-- Definition for table step : 
--

CREATE TABLE [dbo].[step] (
  [IDJob] int NOT NULL,
  [PhaseNo] int NOT NULL,
  [StepNo] int NOT NULL,
  [Description] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [DateStart] datetime2(0) DEFAULT NULL NULL,
  [DateEnd] datetime2(0) DEFAULT NULL NULL,
  [TotMinutes] int DEFAULT 0 NULL,
  [IDUser] int NOT NULL,
  [AuditUser] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [AuditDateTime] datetime2(0) DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for table userapp : 
--

CREATE TABLE [dbo].[userapp] (
  [ID] int NOT NULL,
  [Name] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [Language] varchar(3) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [IDProfile] int NOT NULL,
  [Password] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [OldPassword] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [RegistryName] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [RegistrySurname] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [RegistryAddress] varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [WorkGroup] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [DateRegistration] datetime2(0) DEFAULT NULL NULL,
  [ImagePath] varchar(120) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Status] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [Level] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [RateHour] numeric(9, 3) DEFAULT NULL NULL,
  [AuditUser] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT NULL NULL,
  [AuditDateTime] datetime2(0) DEFAULT NULL NULL
)
ON [PRIMARY]
GO

--
-- Definition for user-defined function CONCAT : 
--
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE function dbo.CONCAT
(@param1 as varchar, 
@param2 as varchar)
RETURNS varchar 
BEGIN
  /* Procedure body */
    return @param1 + @param2
END
GO

--
-- Definition for view profileview : 
--
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW dbo.profileview (
	ID,[Name],Type,Description
)
AS
  SELECT * from configurator.dbo.profile
GO

--
-- Definition for indices : 
--

ALTER TABLE [dbo].[job]
ADD CONSTRAINT [job$Code] 
UNIQUE NONCLUSTERED ([Code])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[job]
ADD CONSTRAINT [job$Sequence] 
UNIQUE NONCLUSTERED ([Sequence])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[job]
ADD CONSTRAINT [PK_job_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[job_user]
ADD CONSTRAINT [PK_job_user_IDJob] 
PRIMARY KEY CLUSTERED ([IDJob], [IDUser])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[log]
ADD CONSTRAINT [PK_log_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[note]
ADD CONSTRAINT [PK_note_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [title] ON [dbo].[note]
  ([Title])
WITH (
  PAD_INDEX = OFF,
  DROP_EXISTING = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  SORT_IN_TEMPDB = OFF,
  ONLINE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [titleJob] ON [dbo].[note]
  ([Title], [JobCode])
WITH (
  PAD_INDEX = OFF,
  DROP_EXISTING = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  SORT_IN_TEMPDB = OFF,
  ONLINE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[note_doc]
ADD PRIMARY KEY CLUSTERED ([IDNote], [Document])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = OFF,
  ALLOW_PAGE_LOCKS = OFF)
ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [Name] ON [dbo].[note_key]
  ([Name])
WITH (
  PAD_INDEX = OFF,
  DROP_EXISTING = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  SORT_IN_TEMPDB = OFF,
  ONLINE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [NameLevel] ON [dbo].[note_key]
  ([Name], [Level])
WITH (
  PAD_INDEX = OFF,
  DROP_EXISTING = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  SORT_IN_TEMPDB = OFF,
  ONLINE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[note_key]
ADD CONSTRAINT [PK_note_key_IDNote] 
PRIMARY KEY CLUSTERED ([IDNote], [Name])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[parameter]
ADD CONSTRAINT [PK_parameter_GroupParam] 
PRIMARY KEY CLUSTERED ([GroupParam], [Name])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[parameter_profile]
ADD CONSTRAINT [PK_parameter_profile_GroupParam] 
PRIMARY KEY CLUSTERED ([GroupParam], [Name], [IDProfile])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[parameter_user]
ADD CONSTRAINT [PK_parameter_user_GroupParam] 
PRIMARY KEY CLUSTERED ([GroupParam], [Name], [IDUser])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [phase_idx] ON [dbo].[phase]
  ([IDJob], [Sequence])
WITH (
  PAD_INDEX = OFF,
  DROP_EXISTING = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  SORT_IN_TEMPDB = OFF,
  ONLINE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [phase_sequenceabs] ON [dbo].[phase]
  ([SequenceAbs])
WITH (
  PAD_INDEX = OFF,
  DROP_EXISTING = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  SORT_IN_TEMPDB = OFF,
  ONLINE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[phase]
ADD CONSTRAINT [PK_phase_IDJob] 
PRIMARY KEY CLUSTERED ([IDJob], [PhaseNo])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[phase_user]
ADD CONSTRAINT [PK_phase_user_IDJob] 
PRIMARY KEY CLUSTERED ([IDJob], [IDUser], [PhaseNo])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDUser] ON [dbo].[step]
  ([IDUser])
WITH (
  PAD_INDEX = OFF,
  DROP_EXISTING = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  SORT_IN_TEMPDB = OFF,
  ONLINE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDUserDateStart] ON [dbo].[step]
  ([IDUser], [DateStart])
WITH (
  PAD_INDEX = OFF,
  DROP_EXISTING = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  SORT_IN_TEMPDB = OFF,
  ONLINE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[step]
ADD CONSTRAINT [PK_step_IDJob] 
PRIMARY KEY CLUSTERED ([IDJob], [PhaseNo], [StepNo])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[userapp]
ADD CONSTRAINT [PK_user_ID] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE [dbo].[userapp]
ADD CONSTRAINT [user$Name] 
UNIQUE NONCLUSTERED ([Name])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

